@import url(../styles/tools.css);
@import url(../styles/nav.css);

main {
	margin: 1rem max(calc(100% - 50rem) / 2, 0.5rem);
	padding: 0;
}

pre, code {
	border-radius: 1em;
}

pre {
	white-space: pre-wrap;
	margin: 2em 0 3em 0;
}

footer {
	margin-top: 2em;
	padding-top: 1em;
	border-top: 1px solid #999;
}

table {
	border-collapse: collapse;
}

th {
	text-align: left;
	font-weight: normal;
}

.bookmarklet {
	text-align: center;
	padding: 0 1em;
}

.bookmarklet a {
	padding: 0.25em 0.5em;
	text-decoration: none;
	white-space: nowrap;
	border-radius: 5px;
	color: black;
	background: #efebbb;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
	font-size: 0.85em;
	font-weight: bold;
}

.navigator-demo {
	font-size: smaller;
	font-family: monospace;
}
