body {
	margin: 0;
}

* {
	font-family: sans-serif;
}

h1 { /* TODO: flex */;
	margin: 0;
	border-bottom: 1px solid #999;
	padding-bottom: 0.1em;
}

h1 img {
	width: 0.8em;
	height: 0.8em;
	display: inline-block;
	margin-right: -0.1em;
}

header, main, footer {
	margin-top: 1rem;
	margin-right: max(calc(100% - 50rem) / 2, 1rem);
	margin-bottom: 0;
	margin-left:  max(calc(100% - 50rem) / 2, 1rem);
}

footer {
	padding: 0 0.5em;
	font-style: italic;
	font-size: clamp(0.85rem, 1.25vw, 1rem); 
}

#intro, label {
	font-size: clamp(1rem, 2vw, 1.25rem); /* ??? */
}

label {
	display: block;
	margin: 1em 0;
}

#url, #result {
	width: 100%;
	padding: 0.5em;
	font-family: Consolas, "Courier New", monospace;
	font-size: clamp(1rem, 2vw, 1.5rem); 
}

#url {
	width: calc(100% - 1em);
	height: 4em;
	border-top: 0;
	border-right: 0;
	border-bottom: 0.25em solid black;
	border-left: 0;
	background-color: #ededed;
	color: #696969;
}

#resultContainer {
	margin-top: 1em;
	height: 4em;
}

#resultContainerInner {
	display: none;
}

#result {
	border: 0.25em dashed #88dd66;
	border-radius: 0.25em;
	background-color: #c0ffcc;
	text-align: left;
	line-break: anywhere;
	font-weight: bold;
}

#copyInfo {
	width: min-content;
	margin: 0 auto 0.5em auto;
	white-space: pre;
	font-size: smaller;
	font-style: italic;
}

#copyButton {
	display: block;
	margin: 1.5em auto 1em auto;
	width: 12em;
	padding: 0.25em;
	border-radius: 0.5em;
}

#copyButton, #copyNotification {
	font-weight: bold;
	font-size: 1em;
}

#copyNotification {
	width: min-content;
	height: 2em;
	margin: 0 auto;
	padding-top: 1em;
	font-style: italic;
	color: #888;
}
